<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections></configSections>
  <connectionStrings>
    <add name="BiedaPL_BusAPI.Properties.Settings.Database1ConnectionString"
      connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\Database1.mdf;Integrated Security=True;User Instance=True"
      providerName="System.Data.SqlClient" />
    <add name="masterEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=PA\SQLEXPRESS;Initial Catalog=master;Integrated Security=True;MultipleActiveResultSets=True&quot;"
      providerName="System.Data.EntityClient" />
    <add name="BiedaPL_BusAPI.Properties.Settings.masterConnectionString"
      connectionString="server=mssql.wmi.amu.edu.pl;database=dtas_s383964;uid=s383964;password=674lCgcV;"
      providerName="System.Data.SqlClient" />
    <add name="BiedaPL_BusAPI.Properties.Settings.DataSourceConnectionString"
      connectionString="Data Source=mssql.wmi.amu.edu.pl;Persist Security Info=True;User ID=s383964;Password=674lCgcV"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>